# Ignore everything
*

# Allow directories
!*/

# Python source files
!*.py

# Text files
!*.txt

# Requirements / project files
!requirements.txt

# README
!README.md

# Git configuration
!.gitignore
