langchain
langgraph
langsmith
langchain-community
langchain-huggingface
langchain-chroma
langchain-openai
fastapi
pypdf
uvicorn[standard]
pydentic
sqlalchemy
psycopg2
starlette
requests
numpy
pandas
keras
tensorflow
joblib
scikit-learn
python-dotenv